In [1]:
import pandas as pd
import os
import glob

# Data Preprocessing

Each csv file is read and inspected. Relevant features from each file are used to create new ones that can then be concatenated to form a dataset for the model.

In [2]:
faostat_data = glob.glob(os.path.join('Data/raw_data/', '*.csv'))

# Inspect csv files before selecting features
for f in faostat_data:
    df = pd.read_csv(f)
    print(f.strip('Data/raw_data/'))
    display(df)

land_temperature_change.csv

,Domain Code,Domain,Area Code (M49),Area,Element Code,Element,Months Code,Months,Year Code,Year,Unit,Value,Flag,Flag Description
0,ET,Temperature change on land,4,Afghanistan,7271,Temperature change,7016,Dec–Jan–Feb,2000,2000,°c,0.618,E,Estimated value
1,ET,Temperature change on land,4,Afghanistan,7271,Temperature change,7016,Dec–Jan–Feb,2001,2001,°c,0.365,E,Estimated value
2,ET,Temperature change on land,4,Afghanistan,7271,Temperature change,7016,Dec–Jan–Feb,2002,2002,°c,1.655,E,Estimated value
3,ET,Temperature change on land,4,Afghanistan,7271,Temperature change,7016,Dec–Jan–Feb,2003,2003,°c,0.997,E,Estimated value
4,ET,Temperature change on land,4,Afghanistan,7271,Temperature change,7016,Dec–Jan–Feb,2004,2004,°c,1.883,E,Estimated value
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54805,ET,Temperature change on land,716,Zimbabwe,6078,Standard Deviation,7020,Meteorological year,2018,2018,°c,0.311,E,Estimated value
54806,ET,Temperature change on land,716,Zimbabwe,6078,Standard Deviation,7020,Meteorological year,2019,2019,°c,0.311,E,Estimated value
54807,ET,Temperature change on land,716,Zimbabwe,6078,Standard Deviation,7020,Meteorological year,2020,2020,°c,0.311,E,Estimated value
54808,ET,Temperature change on land,716,Zimbabwe,6078,Standard Deviation,7020,Meteorological year,2021,2021,°c,0.311,E,Estimated value
54809,ET,Temperature change on land,716,Zimbabwe,6078,Standard Deviation,7020,Meteorological year,2022,2022,°c,0.311,E,Estimated value

consumer_prices.csv

,Domain Code,Domain,Area Code (M49),Area,Year Code,Year,Item Code,Item,Months Code,Months,Element Code,Element,Unit,Value,Flag,Flag Description,Note
0,CP,Consumer Price Indices,4,Afghanistan,2000,2000,23013,"Consumer Prices, Food Indices (2015 = 100)",7001,January,6125,Value,NaN,24.356332,I,Imputed value,base year is 2015
1,CP,Consumer Price Indices,4,Afghanistan,2000,2000,23013,"Consumer Prices, Food Indices (2015 = 100)",7002,February,6125,Value,NaN,23.636242,I,Imputed value,base year is 2015
2,CP,Consumer Price Indices,4,Afghanistan,2000,2000,23013,"Consumer Prices, Food Indices (2015 = 100)",7003,March,6125,Value,NaN,23.485345,I,Imputed value,base year is 2015
3,CP,Consumer Price Indices,4,Afghanistan,2000,2000,23013,"Consumer Prices, Food Indices (2015 = 100)",7004,April,6125,Value,NaN,24.767194,I,Imputed value,base year is 2015
4,CP,Consumer Price Indices,4,Afghanistan,2000,2000,23013,"Consumer Prices, Food Indices (2015 = 100)",7005,May,6125,Value,NaN,25.956912,I,Imputed value,base year is 2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112885,CP,Consumer Price Indices,716,Zimbabwe,2023,2023,23014,Food price inflation,7005,May,6121,Value,%,116.960656,E,Estimated value,NaN
112886,CP,Consumer Price Indices,716,Zimbabwe,2023,2023,23014,Food price inflation,7006,June,6121,Value,%,255.596454,E,Estimated value,NaN
112887,CP,Consumer Price Indices,716,Zimbabwe,2023,2023,23014,Food price inflation,7007,July,6121,Value,%,103.098144,E,Estimated value,NaN
112888,CP,Consumer Price Indices,716,Zimbabwe,2023,2023,23014,Food price inflation,7008,August,6121,Value,%,70.758637,E,Estimated value,NaN
112889,CP,Consumer Price Indices,716,Zimbabwe,2023,2023,23014,Food price inflation,7009,September,6121,Value,%,71.437761,E,Estimated value,NaN

crops_production_indicators.csv

,Domain Code,Domain,Area Code (M49),Area,Element Code,Element,Item Code (CPC),Item,Year Code,Year,Unit,Value,Flag,Flag Description,Note
0,QCL,Crops and livestock products,4,Afghanistan,5419,Yield,F1717,"Cereals, primary",2000,2000,100 g/ha,8063,A,Official figure,NaN
1,QCL,Crops and livestock products,4,Afghanistan,5419,Yield,F1717,"Cereals, primary",2001,2001,100 g/ha,10067,A,Official figure,NaN
2,QCL,Crops and livestock products,4,Afghanistan,5419,Yield,F1717,"Cereals, primary",2002,2002,100 g/ha,16698,A,Official figure,NaN
3,QCL,Crops and livestock products,4,Afghanistan,5419,Yield,F1717,"Cereals, primary",2003,2003,100 g/ha,14580,A,Official figure,NaN
4,QCL,Crops and livestock products,4,Afghanistan,5419,Yield,F1717,"Cereals, primary",2004,2004,100 g/ha,13348,A,Official figure,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41644,QCL,Crops and livestock products,716,Zimbabwe,5419,Yield,F1735,Vegetables Primary,2018,2018,100 g/ha,66518,E,Estimated value,NaN
41645,QCL,Crops and livestock products,716,Zimbabwe,5419,Yield,F1735,Vegetables Primary,2019,2019,100 g/ha,64830,E,Estimated value,NaN
41646,QCL,Crops and livestock products,716,Zimbabwe,5419,Yield,F1735,Vegetables Primary,2020,2020,100 g/ha,65628,E,Estimated value,NaN
41647,QCL,Crops and livestock products,716,Zimbabwe,5419,Yield,F1735,Vegetables Primary,2021,2021,100 g/ha,66126,E,Estimated value,NaN
41648,QCL,Crops and livestock products,716,Zimbabwe,5419,Yield,F1735,Vegetables Primary,2022,2022,100 g/ha,65856,E,Estimated value,NaN

foreign_direct_investment.csv

,Domain Code,Domain,Area Code (M49),Area,Element Code,Element,Item Code,Item,Year Code,Year,Unit,Value,Flag,Flag Description,Note
0,FDI,Foreign Direct Investment (FDI),4,Afghanistan,6110,Value US$,23082,Total FDI inflows,2000,2000,million USD,0.170000,X,Figure from international organizations,UNCTAD
1,FDI,Foreign Direct Investment (FDI),4,Afghanistan,6110,Value US$,23082,Total FDI inflows,2001,2001,million USD,0.680000,X,Figure from international organizations,UNCTAD
2,FDI,Foreign Direct Investment (FDI),4,Afghanistan,6110,Value US$,23082,Total FDI inflows,2002,2002,million USD,50.000000,X,Figure from international organizations,UNCTAD
3,FDI,Foreign Direct Investment (FDI),4,Afghanistan,6110,Value US$,23082,Total FDI inflows,2003,2003,million USD,57.800000,X,Figure from international organizations,UNCTAD
4,FDI,Foreign Direct Investment (FDI),4,Afghanistan,6110,Value US$,23082,Total FDI inflows,2004,2004,million USD,186.900000,X,Figure from international organizations,UNCTAD
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12271,FDI,Foreign Direct Investment (FDI),716,Zimbabwe,6110,Value US$,23085,Total FDI outflows,2018,2018,million USD,26.771877,X,Figure from international organizations,UNCTAD
12272,FDI,Foreign Direct Investment (FDI),716,Zimbabwe,6110,Value US$,23085,Total FDI outflows,2019,2019,million USD,32.000000,X,Figure from international organizations,UNCTAD
12273,FDI,Foreign Direct Investment (FDI),716,Zimbabwe,6110,Value US$,23085,Total FDI outflows,2020,2020,million USD,33.000000,X,Figure from international organizations,UNCTAD
12274,FDI,Foreign Direct Investment (FDI),716,Zimbabwe,6110,Value US$,23085,Total FDI outflows,2021,2021,million USD,32.000000,X,Figure from international organizations,UNCTAD
12275,FDI,Foreign Direct Investment (FDI),716,Zimbabwe,6110,Value US$,23085,Total FDI outflows,2022,2022,million USD,17.000000,X,Figure from international organizations,UNCTAD

exchange_rate.csv

,Domain Code,Domain,Area Code (M49),Area,ISO Currency Code (FAO),Currency,Element Code,Element,Year Code,Year,Months Code,Months,Unit,Value,Flag,Flag Description
0,PE,Exchange rates,4,Afghanistan ...,AFA,Afghani,LCU,Local currency units per USD,1980,1980,7001,January,,44.129167,X,Figure from international organizations
1,PE,Exchange rates,4,Afghanistan ...,AFA,Afghani,LCU,Local currency units per USD,1980,1980,7002,February,,44.129167,X,Figure from international organizations
2,PE,Exchange rates,4,Afghanistan ...,AFA,Afghani,LCU,Local currency units per USD,1980,1980,7003,March,,44.129167,X,Figure from international organizations
3,PE,Exchange rates,4,Afghanistan ...,AFA,Afghani,LCU,Local currency units per USD,1980,1980,7004,April,,44.129167,X,Figure from international organizations
4,PE,Exchange rates,4,Afghanistan ...,AFA,Afghani,LCU,Local currency units per USD,1980,1980,7005,May,,44.129167,X,Figure from international organizations
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103271,PE,Exchange rates,716,Zimbabwe ...,ZWD,Zimbabwe Dollar (old),LCU,Local currency units per USD,2022,2022,7009,September,,597.970000,X,Figure from international organizations
103272,PE,Exchange rates,716,Zimbabwe ...,ZWD,Zimbabwe Dollar (old),LCU,Local currency units per USD,2022,2022,7010,October,,628.716452,X,Figure from international organizations
103273,PE,Exchange rates,716,Zimbabwe ...,ZWD,Zimbabwe Dollar (old),LCU,Local currency units per USD,2023,2023,7004,April,,981.370229,X,Figure from international organizations
103274,PE,Exchange rates,716,Zimbabwe ...,ZWD,Zimbabwe Dollar (old),LCU,Local currency units per USD,2023,2023,7005,May,,1439.613438,X,Figure from international organizations
103275,PE,Exchange rates,716,Zimbabwe ...,ZWD,Zimbabwe Dollar (old),LCU,Local currency units per USD,2023,2023,7006,June,,5482.310800,X,Figure from international organizations

emissions.csv

,Domain Code,Domain,Area Code (M49),Area,Element Code,Element,Item Code (CPC),Item,Year Code,Year,Source Code,Source,Unit,Value,Flag,Flag Description,Note
0,GCE,Emissions from Crops,4,Afghanistan,72430,Crops total (Emissions N2O),F1712,All Crops,2000,2000,3050,FAO TIER 1,kt,0.7056,E,Estimated value,NaN
1,GCE,Emissions from Crops,4,Afghanistan,72440,Crops total (Emissions CH4),F1712,All Crops,2000,2000,3050,FAO TIER 1,kt,20.8471,E,Estimated value,NaN
2,GCE,Emissions from Crops,4,Afghanistan,72430,Crops total (Emissions N2O),F1712,All Crops,2001,2001,3050,FAO TIER 1,kt,0.7054,E,Estimated value,NaN
3,GCE,Emissions from Crops,4,Afghanistan,72440,Crops total (Emissions CH4),F1712,All Crops,2001,2001,3050,FAO TIER 1,kt,19.2605,E,Estimated value,NaN
4,GCE,Emissions from Crops,4,Afghanistan,72430,Crops total (Emissions N2O),F1712,All Crops,2002,2002,3050,FAO TIER 1,kt,1.0656,E,Estimated value,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28905,GV,Emissions from Drained organic soils,716,Zimbabwe,7273,Emissions (CO2),6728,Grassland organic soils,2019,2019,3050,FAO TIER 1,kt,0.0000,E,Estimated value,NaN
28906,GV,Emissions from Drained organic soils,716,Zimbabwe,7230,Emissions (N2O),6728,Grassland organic soils,2020,2020,3050,FAO TIER 1,kt,0.0000,E,Estimated value,NaN
28907,GV,Emissions from Drained organic soils,716,Zimbabwe,7273,Emissions (CO2),6728,Grassland organic soils,2020,2020,3050,FAO TIER 1,kt,0.0000,E,Estimated value,NaN
28908,GV,Emissions from Drained organic soils,716,Zimbabwe,7230,Emissions (N2O),6728,Grassland organic soils,2021,2021,3050,FAO TIER 1,kt,0.0000,E,Estimated value,NaN
28909,GV,Emissions from Drained organic soils,716,Zimbabwe,7273,Emissions (CO2),6728,Grassland organic soils,2021,2021,3050,FAO TIER 1,kt,0.0000,E,Estimated value,NaN

food_balance_indicators.csv

,Domain Code,Domain,Area Code (M49),Area,Element Code,Element,Item Code (FBS),Item,Year Code,Year,Unit,Value,Flag,Flag Description
0,FBS,Food Balances (2010-),4,Afghanistan ...,5611,Import Quantity,S2905,Cereals - Excluding Beer,2010,2010,1000 t,2000.00,E,Estimated value
1,FBS,Food Balances (2010-),4,Afghanistan ...,5611,Import Quantity,S2905,Cereals - Excluding Beer,2011,2011,1000 t,2448.00,E,Estimated value
2,FBS,Food Balances (2010-),4,Afghanistan ...,5611,Import Quantity,S2905,Cereals - Excluding Beer,2012,2012,1000 t,2001.00,E,Estimated value
3,FBS,Food Balances (2010-),4,Afghanistan ...,5611,Import Quantity,S2905,Cereals - Excluding Beer,2013,2013,1000 t,2155.00,E,Estimated value
4,FBS,Food Balances (2010-),4,Afghanistan ...,5611,Import Quantity,S2905,Cereals - Excluding Beer,2014,2014,1000 t,1840.00,E,Estimated value
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
148036,FBS,Food Balances (2010-),716,Zimbabwe ...,5142,Food,S2960,"Fish, Seafood",2017,2017,1000 t,57.96,E,Estimated value
148037,FBS,Food Balances (2010-),716,Zimbabwe ...,5142,Food,S2960,"Fish, Seafood",2018,2018,1000 t,46.91,E,Estimated value
148038,FBS,Food Balances (2010-),716,Zimbabwe ...,5142,Food,S2960,"Fish, Seafood",2019,2019,1000 t,31.08,E,Estimated value
148039,FBS,Food Balances (2010-),716,Zimbabwe ...,5142,Food,S2960,"Fish, Seafood",2020,2020,1000 t,31.08,E,Estimated value
148040,FBS,Food Balances (2010-),716,Zimbabwe ...,5142,Food,S2960,"Fish, Seafood",2021,2021,1000 t,31.08,E,Estimated value

pesticide_use.csv

,Domain Code,Domain,Area Code (M49),Area,Element Code,Element,Item Code,Item,Year Code,Year,Unit,Value,Flag,Flag Description,Note
0,RP,Pesticides Use,8,Albania,5157,Agricultural Use,1357,Pesticides (total),2000,2000,t,307.98,E,Estimated value,NaN
1,RP,Pesticides Use,8,Albania,5159,Use per area of cropland,1357,Pesticides (total),2000,2000,kg/ha,0.44,E,Estimated value,NaN
2,RP,Pesticides Use,8,Albania,5173,Use per value of agricultural production,1357,Pesticides (total),2000,2000,g/Int$,0.23,E,Estimated value,NaN
3,RP,Pesticides Use,8,Albania,5157,Agricultural Use,1357,Pesticides (total),2001,2001,t,319.38,E,Estimated value,NaN
4,RP,Pesticides Use,8,Albania,5159,Use per area of cropland,1357,Pesticides (total),2001,2001,kg/ha,0.46,E,Estimated value,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35197,RP,Pesticides Use,716,Zimbabwe,5157,Agricultural Use,1345,Rodenticides,2017,2017,t,0.00,I,Imputed value,NaN
35198,RP,Pesticides Use,716,Zimbabwe,5157,Agricultural Use,1345,Rodenticides,2018,2018,t,0.00,I,Imputed value,NaN
35199,RP,Pesticides Use,716,Zimbabwe,5157,Agricultural Use,1345,Rodenticides,2019,2019,t,0.00,I,Imputed value,NaN
35200,RP,Pesticides Use,716,Zimbabwe,5157,Agricultural Use,1345,Rodenticides,2020,2020,t,0.00,I,Imputed value,NaN
35201,RP,Pesticides Use,716,Zimbabwe,5157,Agricultural Use,1345,Rodenticides,2021,2021,t,0.00,I,Imputed value,NaN

land_use.csv

/var/folders/r7/pmx4mq9n359ff5rbmwjtfsqh0000gn/T/ipykernel_58434/658578372.py:5: DtypeWarning: Columns (14) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f)

,Domain Code,Domain,Area Code (M49),Area,Element Code,Element,Item Code,Item,Year Code,Year,Unit,Value,Flag,Flag Description,Note
0,RL,Land Use,4,Afghanistan,5110,Area,6600,Country area,1980,1980,1000 ha,65286.0,A,Official figure,NaN
1,RL,Land Use,4,Afghanistan,5110,Area,6600,Country area,1981,1981,1000 ha,65286.0,A,Official figure,NaN
2,RL,Land Use,4,Afghanistan,5110,Area,6600,Country area,1982,1982,1000 ha,65286.0,A,Official figure,NaN
3,RL,Land Use,4,Afghanistan,5110,Area,6600,Country area,1983,1983,1000 ha,65286.0,A,Official figure,NaN
4,RL,Land Use,4,Afghanistan,5110,Area,6600,Country area,1984,1984,1000 ha,65286.0,A,Official figure,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97990,RL,Land Use,716,Zimbabwe,5110,Area,6690,Land area equipped for irrigation,2017,2017,1000 ha,186.6,X,Figure from international organizations,NaN
97991,RL,Land Use,716,Zimbabwe,5110,Area,6690,Land area equipped for irrigation,2018,2018,1000 ha,186.6,I,Imputed value,NaN
97992,RL,Land Use,716,Zimbabwe,5110,Area,6690,Land area equipped for irrigation,2019,2019,1000 ha,186.6,I,Imputed value,NaN
97993,RL,Land Use,716,Zimbabwe,5110,Area,6690,Land area equipped for irrigation,2020,2020,1000 ha,186.6,I,Imputed value,NaN
97994,RL,Land Use,716,Zimbabwe,5110,Area,6690,Land area equipped for irrigation,2021,2021,1000 ha,186.6,I,Imputed value,NaN

employment_data.csv

,Domain Code,Domain,Area Code (M49),Area,Indicator Code,Indicator,Sex Code,Sex,Year Code,Year,Element Code,Element,Source Code,Source,Unit,Value,Flag,Flag Description,Note
0,OEA,Employment Indicators: Agriculture,4,Afghanistan,21150,Mean weekly hours actually worked per employed...,1,Total,2014,2014,6173,Value,3021,Household income and expenditure survey,No,31.68,X,Figure from international organizations,Job coverage: Main job currently held Reposito...
1,OEA,Employment Indicators: Agriculture,4,Afghanistan,21150,Mean weekly hours actually worked per employed...,1,Total,2017,2017,6173,Value,3021,Household income and expenditure survey,No,29.66,X,Figure from international organizations,Job coverage: Main job currently held Reposito...
2,OEA,Employment Indicators: Agriculture,4,Afghanistan,21144,"Employment in agriculture, forestry and fishin...",1,Total,2000,2000,6199,Value,3043,ILO - ILO Modelled Estimates,1000 No,2765.95,X,Figure from international organizations,NaN
3,OEA,Employment Indicators: Agriculture,4,Afghanistan,21144,"Employment in agriculture, forestry and fishin...",1,Total,2001,2001,6199,Value,3043,ILO - ILO Modelled Estimates,1000 No,2805.54,X,Figure from international organizations,NaN
4,OEA,Employment Indicators: Agriculture,4,Afghanistan,21144,"Employment in agriculture, forestry and fishin...",1,Total,2002,2002,6199,Value,3043,ILO - ILO Modelled Estimates,1000 No,2897.51,X,Figure from international organizations,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5912,OEA,Employment Indicators: Agriculture,716,Zimbabwe,21144,"Employment in agriculture, forestry and fishin...",1,Total,2020,2020,6199,Value,3043,ILO - ILO Modelled Estimates,1000 No,3443.50,X,Figure from international organizations,NaN
5913,OEA,Employment Indicators: Agriculture,716,Zimbabwe,21144,"Employment in agriculture, forestry and fishin...",1,Total,2021,2021,6199,Value,3043,ILO - ILO Modelled Estimates,1000 No,3512.15,X,Figure from international organizations,NaN
5914,OEA,Employment Indicators: Agriculture,716,Zimbabwe,21150,Mean weekly hours actually worked per employed...,1,Total,2004,2004,6173,Value,3023,Labour force survey,No,44.14,X,Figure from international organizations,Working time arrangement coverage: Full-time w...
5915,OEA,Employment Indicators: Agriculture,716,Zimbabwe,21150,Mean weekly hours actually worked per employed...,1,Total,2014,2014,6173,Value,3023,Labour force survey,No,20.01,X,Figure from international organizations,Job coverage: Main job currently held Reposito...
5916,OEA,Employment Indicators: Agriculture,716,Zimbabwe,21150,Mean weekly hours actually worked per employed...,1,Total,2019,2019,6173,Value,3023,Labour force survey,No,30.20,X,Figure from international organizations,Job coverage: Main job currently held | Break ...

food_security_indicators.csv

,Domain Code,Domain,Area Code (M49),Area,Element Code,Element,Item Code,Item,Year Code,Year,Unit,Value,Flag,Flag Description,Note
0,FS,Suite of Food Security Indicators,4,Afghanistan ...,6121,Value,21010,Average dietary energy supply adequacy (percen...,20002002,2000-2002,%,88.0,E,Estimated value,NaN
1,FS,Suite of Food Security Indicators,4,Afghanistan ...,6121,Value,21010,Average dietary energy supply adequacy (percen...,20012003,2001-2003,%,89.0,E,Estimated value,NaN
2,FS,Suite of Food Security Indicators,4,Afghanistan ...,6121,Value,21010,Average dietary energy supply adequacy (percen...,20022004,2002-2004,%,92.0,E,Estimated value,NaN
3,FS,Suite of Food Security Indicators,4,Afghanistan ...,6121,Value,21010,Average dietary energy supply adequacy (percen...,20032005,2003-2005,%,93.0,E,Estimated value,NaN
4,FS,Suite of Food Security Indicators,4,Afghanistan ...,6121,Value,21010,Average dietary energy supply adequacy (percen...,20042006,2004-2006,%,94.0,E,Estimated value,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36507,FS,Suite of Food Security Indicators,716,Zimbabwe ...,6121,Value,21049,Prevalence of low birthweight (percent) ...,2016,2016,%,12.1,X,Figure from international organizations,NaN
36508,FS,Suite of Food Security Indicators,716,Zimbabwe ...,6121,Value,21049,Prevalence of low birthweight (percent) ...,2017,2017,%,12.0,X,Figure from international organizations,NaN
36509,FS,Suite of Food Security Indicators,716,Zimbabwe ...,6121,Value,21049,Prevalence of low birthweight (percent) ...,2018,2018,%,12.0,X,Figure from international organizations,NaN
36510,FS,Suite of Food Security Indicators,716,Zimbabwe ...,6121,Value,21049,Prevalence of low birthweight (percent) ...,2019,2019,%,11.9,X,Figure from international organizations,NaN
36511,FS,Suite of Food Security Indicators,716,Zimbabwe ...,6121,Value,21049,Prevalence of low birthweight (percent) ...,2020,2020,%,11.8,X,Figure from international organizations,NaN

food_trade_indicators.csv

,Domain Code,Domain,Area Code (M49),Area,Element Code,Element,Item Code (CPC),Item,Year Code,Year,Unit,Value,Flag,Flag Description,Note
0,TCL,Crops and livestock products,4,Afghanistan,5622,Import Value,F1888,Cereals and Preparations,1991,1991,1000 USD,41600.00,A,Official figure,NaN
1,TCL,Crops and livestock products,4,Afghanistan,5622,Import Value,F1888,Cereals and Preparations,1992,1992,1000 USD,25600.00,E,Estimated value,NaN
2,TCL,Crops and livestock products,4,Afghanistan,5622,Import Value,F1888,Cereals and Preparations,1993,1993,1000 USD,40000.00,E,Estimated value,NaN
3,TCL,Crops and livestock products,4,Afghanistan,5622,Import Value,F1888,Cereals and Preparations,1994,1994,1000 USD,25700.00,E,Estimated value,NaN
4,TCL,Crops and livestock products,4,Afghanistan,5622,Import Value,F1888,Cereals and Preparations,1995,1995,1000 USD,37720.00,E,Estimated value,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
141733,TCL,Crops and livestock products,716,Zimbabwe,5922,Export Value,F1896,Tobacco,2020,2020,1000 USD,794956.99,A,Official figure,NaN
141734,TCL,Crops and livestock products,716,Zimbabwe,5622,Import Value,F1896,Tobacco,2021,2021,1000 USD,18265.04,A,Official figure,NaN
141735,TCL,Crops and livestock products,716,Zimbabwe,5922,Export Value,F1896,Tobacco,2021,2021,1000 USD,836533.69,A,Official figure,NaN
141736,TCL,Crops and livestock products,716,Zimbabwe,5622,Import Value,F1896,Tobacco,2022,2022,1000 USD,27138.09,A,Official figure,NaN
141737,TCL,Crops and livestock products,716,Zimbabwe,5922,Export Value,F1896,Tobacco,2022,2022,1000 USD,998057.60,A,Official figure,NaN

fertilizers.csv

,Domain Code,Domain,Area Code (M49),Area,Element Code,Element,Item Code,Item,Year Code,Year,Unit,Value,Flag,Flag Description
0,RFB,Fertilizers by Product,4,Afghanistan,5157,Agricultural Use,4021,NPK fertilizers,2002,2002,t,17900.00,I,Imputed value
1,RFB,Fertilizers by Product,4,Afghanistan,5157,Agricultural Use,4021,NPK fertilizers,2003,2003,t,33200.00,I,Imputed value
2,RFB,Fertilizers by Product,4,Afghanistan,5157,Agricultural Use,4021,NPK fertilizers,2004,2004,t,47700.00,I,Imputed value
3,RFB,Fertilizers by Product,4,Afghanistan,5157,Agricultural Use,4001,Urea,2004,2004,t,42300.00,I,Imputed value
4,RFB,Fertilizers by Product,4,Afghanistan,5157,Agricultural Use,4001,Urea,2005,2005,t,20577.00,I,Imputed value
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17802,RFB,Fertilizers by Product,716,Zimbabwe,5157,Agricultural Use,4006,Urea and ammonium nitrate solutions (UAN),2004,2004,t,5.00,I,Imputed value
17803,RFB,Fertilizers by Product,716,Zimbabwe,5157,Agricultural Use,4006,Urea and ammonium nitrate solutions (UAN),2008,2008,t,2.13,I,Imputed value
17804,RFB,Fertilizers by Product,716,Zimbabwe,5157,Agricultural Use,4006,Urea and ammonium nitrate solutions (UAN),2009,2009,t,9.00,I,Imputed value
17805,RFB,Fertilizers by Product,716,Zimbabwe,5157,Agricultural Use,4006,Urea and ammonium nitrate solutions (UAN),2010,2010,t,4971.00,I,Imputed value
17806,RFB,Fertilizers by Product,716,Zimbabwe,5157,Agricultural Use,4006,Urea and ammonium nitrate solutions (UAN),2011,2011,t,7.00,I,Imputed value

In [3]:
drop_cols = ['Domain Code', 'Area Code (M49)', 'Element Code', 'Months Code', 
             'Flag','Note', 'Source', 'Source Code', 'Item Code', 
             'Item Code (CPC)', 'Year Code', 'ISO Currency Code (FAO)', 
             'Domain Code','Element', 'Sex', 'Sex Code', 'Indicator',
             'Item Code (FBS)', 'Item', 'Indicator Code']

for f in faostat_data:
    df = pd.read_csv(f)
    cols_to_drop = [col for col in drop_cols if col in df.columns]
    df = df.drop(columns=cols_to_drop)
    if 'Year' in df.columns:
        try:
            df = df[df['Year'] >= 2002]
        except:
            pass
    file_name = os.path.join('Data/feature_selected/', os.path.basename(f))
    df.to_csv(file_name, index=False)
    print(f.strip('Data/raw_data/'))
    display(df)

land_temperature_change.csv

,Domain,Area,Months,Year,Unit,Value,Flag Description
2,Temperature change on land,Afghanistan,Dec–Jan–Feb,2002,°c,1.655,Estimated value
3,Temperature change on land,Afghanistan,Dec–Jan–Feb,2003,°c,0.997,Estimated value
4,Temperature change on land,Afghanistan,Dec–Jan–Feb,2004,°c,1.883,Estimated value
5,Temperature change on land,Afghanistan,Dec–Jan–Feb,2005,°c,-0.421,Estimated value
6,Temperature change on land,Afghanistan,Dec–Jan–Feb,2006,°c,1.406,Estimated value
...,...,...,...,...,...,...,...
54805,Temperature change on land,Zimbabwe,Meteorological year,2018,°c,0.311,Estimated value
54806,Temperature change on land,Zimbabwe,Meteorological year,2019,°c,0.311,Estimated value
54807,Temperature change on land,Zimbabwe,Meteorological year,2020,°c,0.311,Estimated value
54808,Temperature change on land,Zimbabwe,Meteorological year,2021,°c,0.311,Estimated value
54809,Temperature change on land,Zimbabwe,Meteorological year,2022,°c,0.311,Estimated value

consumer_prices.csv

,Domain,Area,Year,Months,Unit,Value,Flag Description
24,Consumer Price Indices,Afghanistan,2002,January,NaN,33.421952,Imputed value
25,Consumer Price Indices,Afghanistan,2002,February,NaN,33.655360,Imputed value
26,Consumer Price Indices,Afghanistan,2002,March,NaN,34.118861,Imputed value
27,Consumer Price Indices,Afghanistan,2002,April,NaN,33.558974,Imputed value
28,Consumer Price Indices,Afghanistan,2002,May,NaN,33.302969,Imputed value
...,...,...,...,...,...,...,...
112885,Consumer Price Indices,Zimbabwe,2023,May,%,116.960656,Estimated value
112886,Consumer Price Indices,Zimbabwe,2023,June,%,255.596454,Estimated value
112887,Consumer Price Indices,Zimbabwe,2023,July,%,103.098144,Estimated value
112888,Consumer Price Indices,Zimbabwe,2023,August,%,70.758637,Estimated value
112889,Consumer Price Indices,Zimbabwe,2023,September,%,71.437761,Estimated value

crops_production_indicators.csv

,Domain,Area,Year,Unit,Value,Flag Description
2,Crops and livestock products,Afghanistan,2002,100 g/ha,16698,Official figure
3,Crops and livestock products,Afghanistan,2003,100 g/ha,14580,Official figure
4,Crops and livestock products,Afghanistan,2004,100 g/ha,13348,Official figure
5,Crops and livestock products,Afghanistan,2005,100 g/ha,17904,Official figure
6,Crops and livestock products,Afghanistan,2006,100 g/ha,15517,Official figure
...,...,...,...,...,...,...
41644,Crops and livestock products,Zimbabwe,2018,100 g/ha,66518,Estimated value
41645,Crops and livestock products,Zimbabwe,2019,100 g/ha,64830,Estimated value
41646,Crops and livestock products,Zimbabwe,2020,100 g/ha,65628,Estimated value
41647,Crops and livestock products,Zimbabwe,2021,100 g/ha,66126,Estimated value
41648,Crops and livestock products,Zimbabwe,2022,100 g/ha,65856,Estimated value

foreign_direct_investment.csv

,Domain,Area,Year,Unit,Value,Flag Description
2,Foreign Direct Investment (FDI),Afghanistan,2002,million USD,50.000000,Figure from international organizations
3,Foreign Direct Investment (FDI),Afghanistan,2003,million USD,57.800000,Figure from international organizations
4,Foreign Direct Investment (FDI),Afghanistan,2004,million USD,186.900000,Figure from international organizations
5,Foreign Direct Investment (FDI),Afghanistan,2005,million USD,271.000000,Figure from international organizations
6,Foreign Direct Investment (FDI),Afghanistan,2006,million USD,238.000000,Figure from international organizations
...,...,...,...,...,...,...
12271,Foreign Direct Investment (FDI),Zimbabwe,2018,million USD,26.771877,Figure from international organizations
12272,Foreign Direct Investment (FDI),Zimbabwe,2019,million USD,32.000000,Figure from international organizations
12273,Foreign Direct Investment (FDI),Zimbabwe,2020,million USD,33.000000,Figure from international organizations
12274,Foreign Direct Investment (FDI),Zimbabwe,2021,million USD,32.000000,Figure from international organizations
12275,Foreign Direct Investment (FDI),Zimbabwe,2022,million USD,17.000000,Figure from international organizations

exchange_rate.csv

,Domain,Area,Currency,Year,Months,Unit,Value,Flag Description
264,Exchange rates,Afghanistan ...,Afghani,2002,January,,47263.000000,Figure from international organizations
265,Exchange rates,Afghanistan ...,Afghani,2002,February,,47.263000,Figure from international organizations
266,Exchange rates,Afghanistan ...,Afghani,2002,March,,47.263000,Figure from international organizations
267,Exchange rates,Afghanistan ...,Afghani,2002,April,,47.263000,Figure from international organizations
268,Exchange rates,Afghanistan ...,Afghani,2002,May,,47.263000,Figure from international organizations
...,...,...,...,...,...,...,...,...
103271,Exchange rates,Zimbabwe ...,Zimbabwe Dollar (old),2022,September,,597.970000,Figure from international organizations
103272,Exchange rates,Zimbabwe ...,Zimbabwe Dollar (old),2022,October,,628.716452,Figure from international organizations
103273,Exchange rates,Zimbabwe ...,Zimbabwe Dollar (old),2023,April,,981.370229,Figure from international organizations
103274,Exchange rates,Zimbabwe ...,Zimbabwe Dollar (old),2023,May,,1439.613438,Figure from international organizations
103275,Exchange rates,Zimbabwe ...,Zimbabwe Dollar (old),2023,June,,5482.310800,Figure from international organizations

emissions.csv

,Domain,Area,Year,Unit,Value,Flag Description
4,Emissions from Crops,Afghanistan,2002,kt,1.0656,Estimated value
5,Emissions from Crops,Afghanistan,2002,kt,21.2553,Estimated value
6,Emissions from Crops,Afghanistan,2003,kt,1.3117,Estimated value
7,Emissions from Crops,Afghanistan,2003,kt,23.7017,Estimated value
8,Emissions from Crops,Afghanistan,2004,kt,1.0856,Estimated value
...,...,...,...,...,...,...
28905,Emissions from Drained organic soils,Zimbabwe,2019,kt,0.0000,Estimated value
28906,Emissions from Drained organic soils,Zimbabwe,2020,kt,0.0000,Estimated value
28907,Emissions from Drained organic soils,Zimbabwe,2020,kt,0.0000,Estimated value
28908,Emissions from Drained organic soils,Zimbabwe,2021,kt,0.0000,Estimated value
28909,Emissions from Drained organic soils,Zimbabwe,2021,kt,0.0000,Estimated value

food_balance_indicators.csv

,Domain,Area,Year,Unit,Value,Flag Description
0,Food Balances (2010-),Afghanistan ...,2010,1000 t,2000.00,Estimated value
1,Food Balances (2010-),Afghanistan ...,2011,1000 t,2448.00,Estimated value
2,Food Balances (2010-),Afghanistan ...,2012,1000 t,2001.00,Estimated value
3,Food Balances (2010-),Afghanistan ...,2013,1000 t,2155.00,Estimated value
4,Food Balances (2010-),Afghanistan ...,2014,1000 t,1840.00,Estimated value
...,...,...,...,...,...,...
148036,Food Balances (2010-),Zimbabwe ...,2017,1000 t,57.96,Estimated value
148037,Food Balances (2010-),Zimbabwe ...,2018,1000 t,46.91,Estimated value
148038,Food Balances (2010-),Zimbabwe ...,2019,1000 t,31.08,Estimated value
148039,Food Balances (2010-),Zimbabwe ...,2020,1000 t,31.08,Estimated value
148040,Food Balances (2010-),Zimbabwe ...,2021,1000 t,31.08,Estimated value

pesticide_use.csv

               Domain      Area  Year    Unit   Value Flag Description
6      Pesticides Use   Albania  2002       t  330.78  Estimated value
7      Pesticides Use   Albania  2002   kg/ha    0.47  Estimated value
8      Pesticides Use   Albania  2002  g/Int$    0.24  Estimated value
9      Pesticides Use   Albania  2003       t  342.17  Estimated value
10     Pesticides Use   Albania  2003   kg/ha    0.49  Estimated value
...               ...       ...   ...     ...     ...              ...
35197  Pesticides Use  Zimbabwe  2017       t    0.00    Imputed value
35198  Pesticides Use  Zimbabwe  2018       t    0.00    Imputed value
35199  Pesticides Use  Zimbabwe  2019       t    0.00    Imputed value
35200  Pesticides Use  Zimbabwe  2020       t    0.00    Imputed value
35201  Pesticides Use  Zimbabwe  2021       t    0.00    Imputed value

[32014 rows x 6 columns]

land_use.csv

/var/folders/r7/pmx4mq9n359ff5rbmwjtfsqh0000gn/T/ipykernel_58434/2475656928.py:8: DtypeWarning: Columns (14) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f)

,Domain,Area,Year,Unit,Value,Flag Description
22,Land Use,Afghanistan,2002,1000 ha,65286.0,Official figure
23,Land Use,Afghanistan,2003,1000 ha,65286.0,Official figure
24,Land Use,Afghanistan,2004,1000 ha,65286.0,Official figure
25,Land Use,Afghanistan,2005,1000 ha,65286.0,Official figure
26,Land Use,Afghanistan,2006,1000 ha,65286.0,Official figure
...,...,...,...,...,...,...
97990,Land Use,Zimbabwe,2017,1000 ha,186.6,Figure from international organizations
97991,Land Use,Zimbabwe,2018,1000 ha,186.6,Imputed value
97992,Land Use,Zimbabwe,2019,1000 ha,186.6,Imputed value
97993,Land Use,Zimbabwe,2020,1000 ha,186.6,Imputed value
97994,Land Use,Zimbabwe,2021,1000 ha,186.6,Imputed value

employment_data.csv

,Domain,Area,Year,Unit,Value,Flag Description
0,Employment Indicators: Agriculture,Afghanistan,2014,No,31.68,Figure from international organizations
1,Employment Indicators: Agriculture,Afghanistan,2017,No,29.66,Figure from international organizations
4,Employment Indicators: Agriculture,Afghanistan,2002,1000 No,2897.51,Figure from international organizations
5,Employment Indicators: Agriculture,Afghanistan,2003,1000 No,3093.27,Figure from international organizations
6,Employment Indicators: Agriculture,Afghanistan,2004,1000 No,3212.46,Figure from international organizations
...,...,...,...,...,...,...
5912,Employment Indicators: Agriculture,Zimbabwe,2020,1000 No,3443.50,Figure from international organizations
5913,Employment Indicators: Agriculture,Zimbabwe,2021,1000 No,3512.15,Figure from international organizations
5914,Employment Indicators: Agriculture,Zimbabwe,2004,No,44.14,Figure from international organizations
5915,Employment Indicators: Agriculture,Zimbabwe,2014,No,20.01,Figure from international organizations
5916,Employment Indicators: Agriculture,Zimbabwe,2019,No,30.20,Figure from international organizations

food_security_indicators.csv

,Domain,Area,Year,Unit,Value,Flag Description
0,Suite of Food Security Indicators,Afghanistan ...,2000-2002,%,88.0,Estimated value
1,Suite of Food Security Indicators,Afghanistan ...,2001-2003,%,89.0,Estimated value
2,Suite of Food Security Indicators,Afghanistan ...,2002-2004,%,92.0,Estimated value
3,Suite of Food Security Indicators,Afghanistan ...,2003-2005,%,93.0,Estimated value
4,Suite of Food Security Indicators,Afghanistan ...,2004-2006,%,94.0,Estimated value
...,...,...,...,...,...,...
36507,Suite of Food Security Indicators,Zimbabwe ...,2016,%,12.1,Figure from international organizations
36508,Suite of Food Security Indicators,Zimbabwe ...,2017,%,12.0,Figure from international organizations
36509,Suite of Food Security Indicators,Zimbabwe ...,2018,%,12.0,Figure from international organizations
36510,Suite of Food Security Indicators,Zimbabwe ...,2019,%,11.9,Figure from international organizations
36511,Suite of Food Security Indicators,Zimbabwe ...,2020,%,11.8,Figure from international organizations

food_trade_indicators.csv

,Domain,Area,Year,Unit,Value,Flag Description
11,Crops and livestock products,Afghanistan,2002,1000 USD,143284.00,Figure from international organizations
12,Crops and livestock products,Afghanistan,2003,1000 USD,145501.00,Figure from international organizations
13,Crops and livestock products,Afghanistan,2004,1000 USD,127751.00,Figure from international organizations
14,Crops and livestock products,Afghanistan,2005,1000 USD,231278.00,Figure from international organizations
15,Crops and livestock products,Afghanistan,2006,1000 USD,263318.00,Figure from international organizations
...,...,...,...,...,...,...
141733,Crops and livestock products,Zimbabwe,2020,1000 USD,794956.99,Official figure
141734,Crops and livestock products,Zimbabwe,2021,1000 USD,18265.04,Official figure
141735,Crops and livestock products,Zimbabwe,2021,1000 USD,836533.69,Official figure
141736,Crops and livestock products,Zimbabwe,2022,1000 USD,27138.09,Official figure
141737,Crops and livestock products,Zimbabwe,2022,1000 USD,998057.60,Official figure

fertilizers.csv

,Domain,Area,Year,Unit,Value,Flag Description
0,Fertilizers by Product,Afghanistan,2002,t,17900.00,Imputed value
1,Fertilizers by Product,Afghanistan,2003,t,33200.00,Imputed value
2,Fertilizers by Product,Afghanistan,2004,t,47700.00,Imputed value
3,Fertilizers by Product,Afghanistan,2004,t,42300.00,Imputed value
4,Fertilizers by Product,Afghanistan,2005,t,20577.00,Imputed value
...,...,...,...,...,...,...
17802,Fertilizers by Product,Zimbabwe,2004,t,5.00,Imputed value
17803,Fertilizers by Product,Zimbabwe,2008,t,2.13,Imputed value
17804,Fertilizers by Product,Zimbabwe,2009,t,9.00,Imputed value
17805,Fertilizers by Product,Zimbabwe,2010,t,4971.00,Imputed value
17806,Fertilizers by Product,Zimbabwe,2011,t,7.00,Imputed value